# temp
public/assets/minifantasy

.DS_Store
.next
.env
.env.build
.env.local
next-env.d.ts
yarn-error.log
*.tiled-session
.nyc_output/
.vercel/
coverage/
node_modules/

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
